.wrapper-left {
min-width:335px;height:82vh;border-width:1px;border-style:none solid none none;
}
.wrapper-right {
	width:100%;height:82vh;
}
.main-left{
	display:flex;flex-direction:column;width:100%;height:100%;display:flex;flex-direction:column;
}
.search-box{
	min-height:70px;border-style:none none solid none;border-width:1px;background-color:cornsilk;
}

.search-text-box{
	font-size:14px;margin:15px;padding:10px;width: calc(100% - 55px);border:1px solid black;border-radius:10px;outline:none;background:transparent;
}

.user-list-left{
margin:0px;overflow:hidden auto;
}
.user{
	height:80px;
	width:100%;
	padding:2px;
	display:flex;
	flex-direction:row;
	text-align:left;
}
.user:hover{
	background-color: cornsilk;
	cursor:pointer;
}
.user:active{
	background-color:burlywood;
}
.user-profile-icon-wrapper{
	width:20%;
	height:80%;
	border-style:solid;
	border-width:1px;
	border-radius:50%;
	margin:2%;
}
.user-profile-icon{
	background-color:white;
	border-radius:50%;
	width:100%;
	height:100%;
	object-fit:fill;
}
.user-name-wrapper{
	width:80%;
	height:100%;
}
.user-name{
	padding-left:8%;
	padding-top:8%;
}

.main-right{
display:flex;flex-direction:column;width:100%;height:100%;display:flex;flex-direction:column;
}
.header-right{
width:100%;height:70px;border-style:none none solid none;border-width:1px;display:flex;flex-direction:row;
}
.active-user-icon-wrapper{
	margin:5px;
}
.active-user-icon{
	padding:5px;border:1px solid black;border-radius:50px;
}
.active-user-name-wrapper{
width: calc(100% - 90px);margin:5px;padding:5px;display:flex;flex-direction:column;
}
.active-user-name{
	height:20px;padding:5px 10px;
}
.active-status{
	font-size:11px;padding:0px 10px;color:burlywood;
}
.message-area-wrapper{
flex:2 1 auto;width:100%;height:100%;overflow:hidden;
}
.message-area{
	display:flex;flex-direction:column;justify-content:flex-end;margin:10px;height:100%;
}
.message-wrapper{
	text-align:right;
	margin:2px 0px 2px 2px;
}
.sent-message{
	padding:15px;
	font-size:16px;
	max-width:300px;
	height:auto;
	float:right;
	border-radius:20px 20px 2px 20px;
	background: rgba(var(--bb2,239,239,239),1);
	margin:2px;
}
.received-message{
	padding:5px 10px 5px 10px;
	font-size:16px;
	background-color:burlywood;
	max-width:300px;
	height:auto;
	float:left;
	border-radius:0px 20px 20px 20px;
	border:1px solid black;
}
.message-box-wrapper{
flex:0 0 auto;
}
.message-box{
	padding:10px;display:flex;flex-direction:row;border:1px solid black;border-radius:15px;margin:15px;
}
.message-textarea{
	background-color:transparent;border:0;overflow:auto;padding:8px 9px;resize:none;outline:none;flex: 1 1 auto;line-height:18px;height:18px;
}
.send-button{
	background:none;color:blue;padding:8px 9px;outline:none;border:none;cursor:pointer;font: 400 13.3333px Arial;
}
.send-button:active{
	color: rgba(var(--d69,0,189,246),1);
}