.row{
	min-height:44vh;
	height:44vh;
	display:flex;
	flex-direction:row;
	
}
.cell-wrapper{
	min-width:44vh;
	width:44vh;
	min-height:44vh;
	height:44vh;
	position:relative;
}
.cell{
	margin:0% 10% 10% 0%;
	width:90%;
	height:90%;
}
.cell:hover{

}
.info{
	margin:0% 10% 10% 0%;
	top:0px;
	left:0px;
	width:90%;
	height:90%;
	position:absolute;
	cursor:pointer;
	text-align:center;
}
.info:hover{
	background-color:rgba(0,0,0,0.3);
	z-index:10px;
	
}
.link{
	margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
	margin:0% 10% 10% 0%;
	height: 100%;
	width: 100%;
}
.image-div{
	margin:0% 10% 10% 0%;
	height: 95%;
	width: 95%;
    left: 0;
	top: 0;
    position: absolute; 
}
.image{
	margin:0% 10% 10% 0%;
	height: 95%;
	width: 95%;
    left: 0;
	top: 0;
    position: absolute; 
}